{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- displaying Django messages -->
<div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          fade show alert-bg mt-2" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

<div class="container-fluid">
    <div class="row">
        <div>
            <h1 class="title">About Us!</h1>
        </div>
        
        
    <div class="container about">
        <h4>Welcome to <strong>BrickBros</strong>, the ultimate online community for LEGO enthusiasts!</h4>
        <p>Whether you're a master builder or just starting your journey with the iconic bricks, BrickBros is your go-to platform for sharing and discovering incredible LEGO creations. </p>
        <p>Our site offers a space for users to upload their builds, explore innovative designs, and connect with fellow LEGO lovers from around the world. </p>
        <p>Dive into a world of creativity, gain inspiration from diverse projects, and join a community that celebrates the endless possibilities of LEGO building. </p>
        <p>Check out other users build times and see if you can challenge yourself to build an awesome creation in record time!</p>
        <p>At BrickBros, every brick tells a story—what will yours be?</p>
    </div>     
</div>

{% endblock %}