/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles for body, headings and paragraph */

body {
    font-family: 'Lato', sans-serif;
    color: #414142;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM+Sans', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: whitesmoke;
}


/* Header */

.navbar {
    box-shadow: 1px -1px 5px 0 #000;
}

a.nav-link {
    color:#000;
    font-size: large;
}

.active {
    text-decoration: underline;
}

img.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Footer Section */

footer {
    flex-shrink: 0;
}

.footer-bg {
    background-color: lightgray;
    box-shadow: 1px -1px 5px 0 #000;
}

#social-media {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
    transition-duration: 0.5s;
}

#social-media i:hover {
    color: #fee607;
}

.copyright {
    font-size: 80%;
}