/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Wildcard selector to remove default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global styles for body, headings and paragraph */

body {
    font-family: 'Lato', sans-serif;
    color: #414142;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'DM+Sans', sans-serif;
}

main {
    flex: 1 0 auto;
    background-color: whitesmoke;
}


.title{ 
    -webkit-text-stroke: 1px black;
    text-transform: uppercase;
    font-weight: bolder;
    color: #fee607;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
}  


/* Header & Nav */

.navbar {
    box-shadow: 1px -1px 5px 0 #000;
}

a.nav-link {
    color:#000;
    font-size: large;
}

.dropdown-item.active{
    text-decoration: underline;
    font-weight: 500;
    color: black;
    background-color: #ffffff;
}

.dropdown-item:hover {
    background-color: #fee607;
}

.active {
    text-decoration: underline;
    font-weight: 500;
}

.nav-item:hover {
    text-decoration: underline;
}

img.logo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}



/* Hero Image */

#hero {
    height: 350px;
    width: 100%;
    background: url('/static/images/hero-image.webp') no-repeat left center/cover;
    position: relative;
    /* Background colour if image doesn't load */
    background-color: #fee607;
}

#hero-text {
    position: absolute;
    width: 85%;
    bottom: 10px;
    margin-left: 2px;
}

#hero-text h1 {
    text-align: left;
    position: absolute;
    bottom: 0;
    padding: 20px;
    display: block;
    background-color: rgba(109, 108, 107, 0.8);
}

/* About */

.about {
    border-radius: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 35px;
    background-color: #fee607;
    border: #000;
    width: 70%;
}

/* Login and Logout */ 

.login-page {
    border:1px solid black;
    padding: 1%;
    margin-top: 5%;

}

/* Form */

.form {
    border:1px solid black;
    box-shadow: 1px -1px 5px 0 #7b7b7a;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Cards / Build posts */

.lego-builds {
    text-decoration: none;
}

.card-title {
    text-decoration: underline;
    font-weight: bolder;
    color: #000;
    letter-spacing: 2px;
    margin-top: 30px;
    text-align: center;
}

.card-body {
    box-shadow: 1px -1px 5px 2px #7b7b7a;
    background-color: #fee607;
}

.image-container{
    position: relative;
    width: 100%;
    max-height: min-content;
    padding-top: 45%;
    overflow: hidden;
}

.lego-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Buttons */

.btn {
    margin: 5px;
}

.btn:hover {
    background-color: #fee607;
    color: #000;
}

.page-link {
    color: #000;
}


.read-more:hover {
    background-color: #000;
    color: #fee607;
}


/* Footer Section */

footer {
    flex-shrink: 0;
}

.footer-bg {
    background-color: lightgray;
    box-shadow: 1px -1px 5px 0 #000;
}

#social-media {
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 30px;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
    transition-duration: 0.5s;
}

#social-media i:hover {
    color: #fee607;
}

.copyright {
    font-size: 80%;
}



/* Media Queries */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    
    /* Hero styles */
    #hero-text {
        font-size: 200%;
    }

    #hero-text h2 {
        text-align: right;
        font-size: 170%;
        padding: 25px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Hero Styles */
    #hero-text {
        width: 550px;
        height: 150px;
        right: 40px;
    }

    #hero-text h2 {
        text-align: right;
        font-size: 180%;
        padding: 25px;
    }
}