{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="container text-center">
            <h1>403 - Unauthorized Access</h1>
            <p>You are not authorized to perform this particular action. Sorry!</p>
            <p>Click below to go back to our Home Page</p>
            <a href="{% url 'home' %}" class="btn btn btn-signup btn-outline-dark">Home Page</a>
        </div>
    </div>
</div>

    {% endblock %}