{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div>
            <h1 class="title">Confirm Delete Post</h1>
        </div>
        
        
    <div class="container">
        <div>
            <form method="post" class="text-center">
                {% csrf_token %}
                <p>Are you sure you want to delete your post {{object.build_title}}?</p>
                <p>This action is not reversable!</p>
                <input type="submit" value="Confirm" class="btn btn btn-signup btn-outline-dark">
            </form>
        </div>
    </div>     
</div>

{% endblock %}