{% extends 'base.html' %}

{% load static %}

{% block content %}

  <!-- displaying Django messages -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible
          fade show alert-bg mt-2" id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close"
            data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
<!-- Page Title-->

<div>
    <h1 class="title">Recent Posts</h1>
</div>

<!-- Lego Posts -->
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for build in object_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <a href="{% url 'build_view' build.slug %}" class="post-link lego-builds" aria-label="Opens post {{build.build_title}}">
                                    <h2 class="card-title text-center">{{ build.build_title }}</h2>
                                </a>
                                <div class="image-container">
                                    <img src="{{build.image.url}}" class="card-img-top lego-img" alt="{{build.image_alt}}">
                                </div>
                                <hr>
                                <div class="text-center">
                                    <p>{{ build.excerpt }}</p>
                                    <a href="{% url 'build_view' build.slug %}" class="post-link lego-builds" aria-label="Opens post {{build.build_title}}">
                                        <button type="submit" class="btn btn-outline-dark read-more">Read More</button>
                                    </a>
                                </div>
                                <hr />
                                <p class="card-text text-muted h6">Post created on {{ build.created_on}} by {{ build.user }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
    
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li>
                    <a href="?page={{ page_obj.previous_page_number }}"
                    class="page-link btn">&laquo; PREV</a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</body>

{% endblock %}
